<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <service
            android:name=".service.HuaweiPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=${huawei_agconnect_appid}">
        </meta-data>
        <meta-data
            android:name="com.huawei.hms.client.cpid"
            android:value="cpid=${huawei_agconnect_cpid}">
        </meta-data>
    </application>
</manifest>
